# EDA Cleaned

欄位說明:

-   PassengerId: 乘客編號
-   Survived: 是否存活
-   Pclass: 艙等
-   Name: 姓名
-   Sex: 性別
-   Age: 年齡
-   SibSp: 同行兄弟姊妹/配偶數
-   Parch: 同行父母/子女數
-   Ticket: 票號
-   Fare: 船票價格
-   Cabin: 客艙編號
-   Embarked: 登船港口

## 載入套件與基本設定

In [1]:

import pandas as pd

## 載入資料

In [2]:
train_df = pd.read_csv('../data/processed/train.csv')
train_df.head()

   PassengerId  Survived  Pclass     Sex   Age     Fare Embarked  FamilySize
0            1         0       3    male  22.0   7.2500        S           1
1            2         1       1  female  38.0  71.2833        C           1
2            3         1       3  female  26.0   7.9250        S           0
3            4         1       1  female  35.0  53.1000        S           1
4            5         0       3    male  35.0   8.0500        S           0

In [3]:
test_df = pd.read_csv('../data/processed/test.csv')
test_df.head()

   PassengerId  Pclass     Sex   Age     Fare Embarked  FamilySize
0          892       3    male  34.5   7.8292        Q           0
1          893       3  female  47.0   7.0000        S           1
2          894       2    male  62.0   9.6875        Q           0
3          895       3    male  27.0   8.6625        S           0
4          896       3  female  22.0  12.2875        S           2

## 資料基本結構檢查

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   Fare         891 non-null    float64
 6   Embarked     891 non-null    object
 7   FamilySize   891 non-null    int64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [5]:
train_df.describe()

       PassengerId    Survived      Pclass         Age        Fare  FamilySize
count   891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.361582   32.204208    0.904602
std     257.353842    0.486592    0.836071   13.019697   49.693429    1.613459
min       1.000000    0.000000    1.000000    0.420000    0.000000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    7.910400    0.000000
50%     446.000000    0.000000    3.000000   28.000000   14.454200    0.000000
75%     668.500000    1.000000    3.000000   35.000000   31.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000  512.329200   10.000000

In [6]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          418 non-null    float64
 4   Fare         418 non-null    float64
 5   Embarked     418 non-null    object
 6   FamilySize   418 non-null    int64
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

In [7]:
test_df.describe()

       PassengerId      Pclass         Age        Fare  FamilySize
count   418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    2.265550   29.599282   35.576535    0.839713
std     120.810458    0.841838   12.703770   55.850103    1.519072
min     892.000000    1.000000    0.170000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    7.895800    0.000000
50%    1100.500000    3.000000   27.000000   14.454200    0.000000
75%    1204.750000    3.000000   35.750000   31.471875    1.000000
max    1309.000000    3.000000   76.000000  512.329200   10.000000